@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: #002375;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  width: 400px;
  background-color: #ffffff73;
  border-radius: 3rem;
}

.color {
  font-size: 4rem;
}

.button {
  font-size: 2rem;
  color: white;
  border-radius: 20px;
  background-color: #006a9d;
  margin: 15px;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

@media only screen and (width <= 576px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .color {
    font-size: 3rem;
  }

  .button {
    font-size: 1.5rem;
  }
}